<div class="sidebar">


    <div class="logo-menu">

        <h2>HealthFlow</h2>

        <p>Sistema Clínico</p>


    </div>



    <nav>


        <a href="/dashboard">

            🏠 Dashboard

        </a>



        <a href="/pacientes">

            👤 Pacientes

        </a>




        <a href="/profissionais">

            🩺 Profissionais

        </a>




        <a href="/agendamentos">

            📅 Agendamentos

        </a>



        <a href="#">

            💰 Financeiro

        </a>




        <a href="#">

            ⚙ Configurações

        </a>



    </nav>



</div>