* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
}



body {
    background: #f4f7fc;
}





.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    background: linear-gradient( 180deg, #4B83E8, #89D2FA );
}





.logo-menu {
    margin-bottom: 40px;
}



    .logo-menu h2 {
        color: white;
        font-size: 30px;
    }



    .logo-menu p {
        color: white;
    }




.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




    .sidebar nav a {
        padding: 15px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
    }




        .sidebar nav a:hover {
            background: rgba(255,255,255,.2);
        }





.conteudo {
    margin-left: 260px;
    padding: 30px;
}





.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #87C6F7;
}




.login-card {
    width: 380px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    text-align: center;
}




.login-logo {
    width: 150px;
    margin-bottom: 20px;
}




.login-card input {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    background: #f3f3f3;
    border-radius: 10px;
}




.login-card button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: #4B83E8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
